name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    uses: saba-innowise/test-cpp-shared-actions/.github/workflows/cpp-lint.yml@main
    with:
      source_directory: test/sample1

  build-test:
    name: Build & Test
    uses: saba-innowise/test-cpp-shared-actions/.github/workflows/cpp-build-test.yml@main
    with:
      source_directory: test/sample1
