name: Release

on:
  push:
    branches:
      - main

jobs:
  build-test:
    name: Build & Test
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
          - os: macos-latest
    uses: saba-innowise/test-cpp-shared-actions/.github/workflows/cpp-build-test.yml@main
    with:
      source_directory: test/sample1/tether_sum
      os: ${{ matrix.os }}

  release:
    runs-on: ubuntu-latest

    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: package
          path: ${{ runner.temp }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: false
          files: |
            ${{ runner.temp }}
